<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 
	이 문서의 형식이 configuration(== 환경설정)임을 알려줌
	=> 전체가 configuration태그로 감싸져 있어야함
	DTD : 유효성 검사를 해줌(자식요소들이 configuration 태그안에 존재할 수 있는지 체크)
 -->
<configuration>
	
	<!-- settings: MyBatis를 구동 시 선언할 설정들을 작성하는 영역 -->
	<settings>
		<!-- 만약에 null로 값이 전달되었다면 빈 칸이 아닌 NULL로 인식하겠다.(무조건 대문자 NULL로 작성해야함) -->
		<setting name="jdbcTypeForNull" value="NULL" />	
	</settings>

	<!-- typeAliases : VO/DTO클래스들의 풀클래스명을 단순한 별칭으로 사용하기 위해 등록할 수 있는 영역 -->
	<typeAliases>
		<typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.mybatis.board.model.vo.Board" alias="board" />
	</typeAliases>
	
	<!-- 
		environments : MyBatis에서 연동할 DB정보들을 등록하는 영역(여러 개의 DB정보를 등록가능)
		=> default속성으로 여러개의 id중 어떤 DB를 기본 DB로 사용할 건지 꼭 지정을 해줘야 함
	 -->
	<environments default="development">
		<environment id="development">
			<!-- 
				* transactionManager는 JDBC의 MANAGED 둘 중 하나를 선택할 수 있음
				- JDBC : 트랜잭션을 내가 직접 관리하겠다.(수동 commit)
				- MANAGED : 개발자가 트랜잭션에 대해서 어떤 영향도 행사하지 않겠다. (자동 commit)
			 -->
			 <transactionManager type="JDBC" />
			 <!--
			 	* dataSource의 type속성으로는 POOLED와 UNPOOLED 둘 중 하나를 선택할 수 있음(ConnectionPool)
			 	- ConnectionPool : Connection객체를 담아둘 수 있는 영역
			 					   한 번 생성된 Connection객체를 담아두고 재 사용해서 쓸 수 있음 
				=> POOLED : ConnectionPool을 사용하겠다
				=> UNPOOLED : ConnectionPool을 사용 안 하겠다
			 -->
			 <dataSource type="POOLED">
			 	<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
			 	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
			 	<property name="username" value="MYBATIS"/>
			 	<property name="password" value="MYBATIS"/>	
			 </dataSource>
			 
		</environment>
	</environments>
	
	<!-- mappers : 실행할 SQL문을 기록해둔 mapper파일을 등록하는 영역 -->
	<mappers>
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/board-mapper.xml" />
	</mappers>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</configuration>
